CRUDMVC/Connected Services/WebServiceReference/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AppGetAllEmployeeData">
        <s:complexType />
      </s:element>
      <s:element name="AppGetAllEmployeeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppGetAllEmployeeDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppCreateNewEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppCreateNewEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppCreateNewEmployeeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppDeleteEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppDeleteEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppDeleteEmployeeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppUpdateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="employeeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppUpdateEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppUpdateEmployeeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppGetEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppGetEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppGetEmployeeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AppGetAllEmployeeDataSoapIn">
    <wsdl:part name="parameters" element="tns:AppGetAllEmployeeData" />
  </wsdl:message>
  <wsdl:message name="AppGetAllEmployeeDataSoapOut">
    <wsdl:part name="parameters" element="tns:AppGetAllEmployeeDataResponse" />
  </wsdl:message>
  <wsdl:message name="AppCreateNewEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:AppCreateNewEmployee" />
  </wsdl:message>
  <wsdl:message name="AppCreateNewEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:AppCreateNewEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="AppDeleteEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:AppDeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="AppDeleteEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:AppDeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="AppUpdateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:AppUpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="AppUpdateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:AppUpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="AppGetEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:AppGetEmployee" />
  </wsdl:message>
  <wsdl:message name="AppGetEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:AppGetEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="AppGetAllEmployeeData">
      <wsdl:input message="tns:AppGetAllEmployeeDataSoapIn" />
      <wsdl:output message="tns:AppGetAllEmployeeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppCreateNewEmployee">
      <wsdl:input message="tns:AppCreateNewEmployeeSoapIn" />
      <wsdl:output message="tns:AppCreateNewEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppDeleteEmployee">
      <wsdl:input message="tns:AppDeleteEmployeeSoapIn" />
      <wsdl:output message="tns:AppDeleteEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppUpdateEmployee">
      <wsdl:input message="tns:AppUpdateEmployeeSoapIn" />
      <wsdl:output message="tns:AppUpdateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppGetEmployee">
      <wsdl:input message="tns:AppGetEmployeeSoapIn" />
      <wsdl:output message="tns:AppGetEmployeeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AppGetAllEmployeeData">
      <soap:operation soapAction="http://tempuri.org/AppGetAllEmployeeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppCreateNewEmployee">
      <soap:operation soapAction="http://tempuri.org/AppCreateNewEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppDeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/AppDeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppUpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/AppUpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppGetEmployee">
      <soap:operation soapAction="http://tempuri.org/AppGetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AppGetAllEmployeeData">
      <soap12:operation soapAction="http://tempuri.org/AppGetAllEmployeeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppCreateNewEmployee">
      <soap12:operation soapAction="http://tempuri.org/AppCreateNewEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppDeleteEmployee">
      <soap12:operation soapAction="http://tempuri.org/AppDeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppUpdateEmployee">
      <soap12:operation soapAction="http://tempuri.org/AppUpdateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppGetEmployee">
      <soap12:operation soapAction="http://tempuri.org/AppGetEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44320/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44320/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>